@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto' , sans-serif;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 26px;
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 3;
}

.main{
    /* height: calc(100vh - 75px); */
    display: flex;
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.header .logo img
{
    height: 66px;
}
.side-bar{
    height: 90vh;
    width: 244px;
    background-color: white;
    position: fixed;
    bottom: 0;
    top: 66px;
    left: 0;
    overflow-y: scroll;
    transform: translateX(-244px);
    transition: all 0s;
}

.open{
    height: 90vh;
    width: 244px;
    background-color: white;
    position: fixed;
    bottom: 0;
    top: 66px;
    left: 0;
    overflow-y: scroll;
    transform: translateX(0); 
    transition: all 0s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    margin: 0 0 20px -20px;
    font-size: 10px;
}
.search{
    display: flex;
    width: 50%;
    
}

.search form{
    display: flex;
    border: 1px solid #ddd;
    height: 40px;
    width: 89%; 
}

.search input{
    width: 100%;
    border: 0;
    padding: 10px;
    height: 100%;
    border-radius: 2 0 0 2px;
}

#search-btn{
    width: 70px;
    border: 1px solid #ddd;
    height: 40px;
}

.icon_search{
    font-size: 18px;
}

input:focus{
    outline: none;
    border: 1px solid #ddd;
}

.search button{
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.btn-user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0288d0;
    cursor: pointer;
    color: white;
    border: 5px;
}



.microphone{
    border-radius: 50%;
    font-size: 20px;
}

.box{
    margin-left: 10px;
    cursor: pointer;
    
}

.icon_right{
    display: flex;
    flex-basis: 15%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


.icon_menu{
    font-size: 20px;
    cursor: pointer;
}
.side-bar-chill
{
    width: 74px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 66px;
    left: 0;
}
.side-bar-chill li
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    flex-direction: column;
}
.side-bar-chill li a
{
    font-size: 20px;
    width: 70px;
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.side-bar-chill span {
    font-size: 10px;
    margin-top: 10px;
}
.side-bar-chill li a:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-link-chill
{
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span{
    margin-left: 15px;
}

.nav-link:hover{
    background: #e5e5e5;
    cursor: pointer;
}

.active{
    background: #e5e5e5;
}

.active span{
    font-weight: 600;
    color: black;
}

h3{
    margin-left: 25px;
    cursor: pointer;
}

.video{
    background-color: #f9f9f9;
    border-top: 1px soid #ddd;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-left: 256px;
    padding-top: 100px;
    width: calc(100vw - 244px);
    z-index: 1;
    overflow-y: scroll;


}

.videos{
    padding-top: 15px;
    margin: 15px;
    cursor: pointer;
}

.videos .thumbnail img{
    width: 100%;
    height: 170px;
}

#avartar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.wrap{
    display: flex;
    width: 260px;
    padding-top: 10px;

}

.details{
    display: flex;
}

.title{
    display: flex;
    flex-direction: column;
    padding-left: 15px;

}

.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
    margin-left: 0;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);

}

.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    overflow-x: scroll;
    background: #ffff;
    left: 243px;
    padding-left: 60px;
    padding-top: 80px;
    right: 0;
    justify-content: space-around;
    white-space: nowrap;
    z-index: 2;
}

.all{
    background-color: black;
    color: white;
}

.btn_option{
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 22px;
    cursor: pointer;
    
}

::-webkit-scrollbar{
    width: 8px;
}

:hover::-webkit-scrollbar-thumb{
    background: #909090;
    border-radius: 4px;
}

.footer{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
.footer a
{
    text-decoration: none;
    color: #606060;
    font-size: 14px;
}
.style-scope{
    padding: 16px 24px 0;
    border-top: 1px solid var(#ffff);
    margin-bottom: 12px;
}
.convert .side-bar
{
    display: none;
}
.convert .side-bar-chill
{
    display: block;
}
.convert .option
{
    left: 74px;
}
.convert .video
{
    margin-left: 74px;
    width: calc(100vw - 74px);
}
@media (max-width: 659px) {
    .search form{
        display: none;
    }
    #search-btn {
        border: none;
        background: none;

    }
    .microphone {
        background: none;
        
    }
    .search{
        justify-content: end;
    }

}

@media (max-width: 1312px) {
    .video{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
} 

@media (max-width: 600px) {
    .box {
        display: block;
    }

}
@media (min-width:1312px) {
    .side-bar-chill{
        display: none;
    }
}
@media (max-width: 1313px) {
    .side-bar{
        display: none;
    }
    .video {
        margin-left: 90px;
        width: calc(100vw - 90px);
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
    }
    .option {
        left: 74px;
    }

}
@media (max-width: 1180px) {
    .video {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        align-items: center;
        padding-left: 60px;
    }
    .option {
        left: 74px;
    }
}
@media (max-width: 980px) {
    .side-bar-chill {
        display: none;
    }
    .video {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        width: 100vw;
        margin-left: -30px;
    }
    .option {
        left: 0px;
    }
}
@media (max-width: 845px) {
    .video {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        width: 100%;
        margin-left: 20px;

    }
    .option {
        left: 0px;
    }
}
@media (max-width: 555px) {
    .video {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-left: 30px;
    }
    .option {
        left: 0px;
    }
    .icon_menu {
        margin-left: 10px;
    }
    .btn-user {
        margin-left: 10px;
    }
    #search-btn {
        width: 5px;
    }
}